<% if !current_user %>
  <div class = "jumbotron">
    <h1>Recipes app</h1>
    <p>A great place to store your recipes and look for inspiration</p>
    <%= link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-secondary' %>
  </div>
  <h4>And here are some example recipes:</h4>
  <div class="container" style = "margin-top: 15px">
    <%= render @recipes.take(10) %>
  </div>

<% else %>

  <heading id = 'recipe_heading'>
    <h1 style = 'display: inline-block'>Recipes</h1>
    <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-secondary", id: 'recipe_btn' %>
  </heading>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to 'All', recipes_path, class: "nav-link #{ 'active' if @active_btn.nil?}" %>
    </li>
    <% @categories.each do |category| %>
      <li class="nav-item">
        <%= link_to category, recipes_path(category: category), class: "nav-link #{ 'active' if @active_btn == category}" %>
      </li>
    <% end %>
</ul>

  <div class = 'container'>
    <div class="container" id = "recipes-list">
      <%= render @recipes%>
    </div>

    <br>

    <%= will_paginate @recipes, class: 'my_pagination' %>

  </div>
<% end %>
