<div class="card mb-3">
  <img src="#" class="card-img-top" alt="Recipe picture">
  <div class="card-body">
    <h5 class="card-title"><%= @recipe.name %></h5>
    <p class="card-text"><%= @recipe.description %></p>
    <p class="card-text"><small class="text-muted"><%= @recipe.created_at %></small></p>
  </div>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %>
  <%= link_to 'Back', recipes_path %>
</div>
